input{
    border-style:solid;
    border-radius:0.7rem;
    border-color:#2b4686;
    background-color:white;
}
body{
    background-image: linear-gradient(to right, white,#5478ec33);
    color:black;
    font-family:'Poppins',sans-serif;
    font-size:1.7rem;
}
center div{
    background-image: linear-gradient(white,white);
    box-shadow:0.5rem 0.5rem #5478ec33;
    width:34%;
    border-radius:0.5rem;
    margin: 4%;
}

    